<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804590323417-86uconc6dqdtot1jcabqg8798v0a93pg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804590323417-86uconc6dqdtot1jcabqg8798v0a93pg</string>
	<key>API_KEY</key>
	<string>AIzaSyCbq9ecE0d4AuAFugV9xCi9taoiW_zTYS4</string>
	<key>GCM_SENDER_ID</key>
	<string>804590323417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EEA.CarService</string>
	<key>PROJECT_ID</key>
	<string>carserviceeea</string>
	<key>STORAGE_BUCKET</key>
	<string>carserviceeea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804590323417:ios:ce0e9d27ad3a5f67bda0c8</string>
</dict>
</plist>